<% include ../partials/header %>

<section id="project">
  <div class="wrapper">
    <div class="project-content">
      <header class="project-header">
        <div class="project-header-section">
          <h1><%= project.name %></h1>
          <p class="project-language"><%= project.language %></p>
        </div>
        <% if (canChangeCode) { %>
          <div class="project-header-section">
            <a href="/project/<%= project._id %>/settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
            <button id="save-button" form="code-form" disabled>Save Changes</button>
          </div>
        <% } %>
      </header>

      <main class="project-code">
        <% if (canChangeCode) { %>
          <form id="code-form" action="/project/<%= project._id %>/save?_method=PUT" method="POST">
            <textarea id="code-editor" name="code"><%= project.code %></textarea>
          </form>
          <div class="code-options">
            <div class="code-option-section">
              <a class="button" href="/project/<%= project._id %>/contributor/add">Add New Contributor</a>
            </div>
            <div class="code-option-section">
              <button id="copy-code-button">Copy Code</button>
              <button id="download-code-button">Download Code</button>
            </div>
          </div>
        <% } else { %>
          <textarea id="code-editor" name="code" disabled><%= project.code %></textarea>
          <div class="code-options">
            <div class="code-option-section"></div>
            <div class="code-option-section">
              <button id="copy-code-button">Copy Code</button>
              <button id="download-code-button">Download Code</button>
            </div>
          </div>
        <% } %>
      </main>
    </div>
  </div>
</section>

<script src="/scripts/lib/filesaver.js"></script>
<script src="/scripts/code.js"></script>

<% include ../partials/footer %>
