<% include ../partials/header %>

<div class="container">

  <h1>View Other Projects</h1>

  <section class="projects">
    <% projects.forEach((project) => { %>
      <div class="project">
        <div class="project-section">
          <h2><%= project.name %></h2>
          <p class="project-language"><%= project.language %></p>
          <p class="project-description"><%= project.description %></p>
          <p class="project-contributors"><b>Contributors:</b>
            <% project.contributors.forEach(contributor => { %>
              <a href="/profile/<%= contributor._id %>" title="View more projects from <%= contributor.username %>"><%= contributor.username %></a>
            <% }); %>
          </p>
        </div>
        <div class="project-section">
          <time datetime="<%= project.created.toISOString(); %>"><%= project.created.toDateString(); %></time>
          <a href="/project/<%= project._id %>">View Project</a>
        </div>
      </div>
    <% }); %>
  </section>
</div>

<% include ../partials/footer %>
