<% include partials/header %>

<div class="wrapper">
  <h1>Profile of <%= user.username %></h1>

  <section class="projects">
    <% user.projects.forEach((project) => { %>
      <div class="project">
        <div class="project-section">
          <h2><%= project.name %></h2>
          <p class="project-language"><%= project.language %></p>
          <p class="project-description"><%= project.description %></p>
        </div>
        <div class="project-section">
          <time datetime="<%= project.created.toISOString(); %>"><%= project.created.toDateString(); %></time>
          <a href="/project/<%= project._id %>">View Project</a>
        </div>
      </div>
    <% }); %>
  </section>
</div>

<% include partials/footer %>
